@font-face {
    font-family: satoshi;
    src: url(./src/fonts/Satoshi-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: satoshi;
    src: url(./src/fonts/Satoshi-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: satoshi;
    src: url(./src/fonts/Satoshi-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    /* transition: 1s; */
    overflow: hidden;
    font-family: satoshi;
    box-sizing: border-box;
    /* outline: 2px solid red; */

}

.body {
    filter: opacity(0);
}

.enlarge {
    transform: scale(3) translateX(25px);
    filter: opacity(1);
    /* height: 400px; */
    overflow: visible;
    z-index: 40;
    /* zoom: 200%; */
    /* position: absolute; */


}

html {
    overflow-y: scroll;
}

footer {
    color: #212121c4
}

textarea {
    background-color: #212121;
    border: 1px #fafafad3 solid;
    width: 95%;
    padding: 4px
}

label {
    width: 95%;
    color: #fafafac8;


}

input {
    height: 50px;
    background-color: #212121;
    border: 1px #fafafa solid;
    width: 100%;
    padding: 4px;
    padding-left: 15px;
    outline: none
}

input:focus,
textarea:focus {
    border: #fafafa solid;
    outline: none;
}

label {
    text-align: left;
    margin-left: 6px;
}

* {
    /* outline: 1px solid white; */
}

/* * {
    outline: red 1px solid;
} */


.grid-container {
    height: 68vw;
    width: 86vw;
    max-height: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    gap: 10px;
    grid-auto-columns: 3fr 2fr 2fr;
    grid-auto-rows: 2fr 4fr 4fr 1fr;
    grid-template-areas:
        "largest header header"
        "largest box1 rectangle"
        "largest box2 rectangle"
        "largest button button";

}

.largest {
    grid-area: largest;
    /* transition: 1s; */
    /* transform: scale(2); */
    /* position: absolute; */
    /* top: 0; */

}

* {
    transition: .3s;
    /* outline: 1px solid white; */
}

.grid-container>div>img,
.grid-container-femmina>div>img,
.grid-container-dexchange>div>img,
.grid-container-splita>div>img {
    object-fit: cover;
}

.grid-container>div>img:hover {
    scale: 1.1;
    /* transition: .3s; */
}

.grid-container-dexchange>div>img:hover {
    scale: 1.1;
    /* transition: .3s; */
}

.grid-container-femmina>div>img:hover {
    scale: 1.1;
    /* transition: .3s; */
}

.grid-container-splita>div>img:hover {
    scale: 1.1;
    /* transition: .3s; */
}

.grid-container>div>img:hover {
    scale: 1.1;
    /* transition: .3s; */
}

.header {
    grid-area: header;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.rectangle {
    grid-area: rectangle;
}

.button {
    grid-area: button;
}

.grid-container>div {
    overflow: hidden;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193); */
    /* background-color: #fafafa; */
    /* min-height: 2rem; */
}

/* * {
    outline: red 1px solid;
} */

.grid-container-femmina {
    height: 68vw;
    width: 86vw;
    max-height: 400px;
    max-width: 500px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.155); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.25); */
    /* background: #fafafa02; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193); */
    /* border-radius: 50px; */
    /* padding: 10px; */
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "fem-img1 fem-header fem-header"
        "fem-img1 fem-img2 ."
        "fem-img1 fem-img2 fem-img3"
        "fem-img1 fem-img2 fem-img3"
        "fem-button fem-img2 fem-img3"
        "fem-button . fem-img3"
    ;

}

.fem-img1 {
    grid-area: fem-img1;
}

.fem-header {
    grid-area: fem-header;
}

.fem-img2 {
    grid-area: fem-img2;
}

.fem-img3 {
    grid-area: fem-img3;
}

.fem-button {
    grid-area: fem-button;
}

.grid-container-femmina>div {
    overflow: hidden;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193); */
    /* border: solid 1px white; */
    /* background-color: #fafafa; */
    /* min-height: 2rem; */
}

.grid-container-dexchange {
    height: 60vw;
    width: 86vw;
    max-height: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193); */
    grid-template-columns: 2fr 2fr 3fr;
    grid-auto-rows: 2fr 4fr 4fr 1fr;
    grid-template-areas:
        "dx-header dx-header dx-largest"
        "dx-rectangle dx-box1 dx-largest"
        "dx-rectangle dx-box2 dx-largest"
        "dx-button dx-button dx-largest"
    ;

}

/* .grid-container-dexchange>div,
.grid-container-splita>div {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193);
} */

.dx-largest {
    grid-area: dx-largest;
}

.dx-header {
    grid-area: dx-header;
}

.dx-box1 {
    grid-area: dx-box1;
}

.dx-box2 {
    grid-area: dx-box2;
}

.dx-rectangle {
    grid-area: dx-rectangle;
}

.dx-button {
    grid-area: dx-button;
}

.grid-container-splita {
    height: 70vw;
    width: 86vw;
    max-height: 380px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: repeat(11, 1fr);
    grid-template-areas:
        "spl-header spl-header ."
        "spl-header spl-header ."
        "spl-img1 . spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-img3"
        "spl-img1 spl-img2 spl-button"
        ". spl-img2  spl-button"
        ". . spl-button"
    ;

}

.spl-img1 {
    grid-area: spl-img1;
}

.spl-header {
    grid-area: spl-header;
}

.spl-img2 {
    grid-area: spl-img2;
}

.spl-img3 {
    grid-area: spl-img3;
}

.spl-button {
    grid-area: spl-button;
}

.textarea {
    margin-top: 30px;

    padding: 20px 15px;
}

.textarea::placeholder {
    color: #fafafa55;
}

html,
body {
    background: #212121;
}

* {
    /* border-radius: 5px */
}

.portfolio-section1 {
    background-color: transparent;
    background-image:
        linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .06) 10%, rgba(255, 255, 255, .0) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .04) 30%, rgba(255, 255, 255, .0) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .02) 50%, rgba(255, 255, 255, .02) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .0) 70%, rgba(255, 255, 255, .0) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .0) 90%, rgba(255, 255, 255, .0) 91%, transparent 92%, transparent),
        linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .06) 10%, rgba(255, 255, 255, .0) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .04) 30%, rgba(255, 255, 255, .0) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .02) 50%, rgba(255, 255, 255, .02) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .0) 70%, rgba(255, 255, 255, .0) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .0) 90%, rgba(255, 255, 255, .0) 91%, transparent 92%, transparent)
        /* linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .01) 10%, rgba(255, 255, 255, .01) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .008) 30%, rgba(255, 255, 255, .008) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .006) 50%, rgba(255, 255, 255, .006) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .004) 70%, rgba(255, 255, 255, .004) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .002) 90%, rgba(255, 255, 255, .002) 91%, transparent 92%, transparent) */
    ;

    height: 100%;
    background-size: 120px 120px;
}

.pportfolio-section {
    /* border: 2px solid white; */
    background-size: 100px 100px;
    background-repeat: repeat;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.074) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.054) 1px, transparent 1px);
}

.click-icon {
    /* background-color: rgba(257, 257, 257, 0.11); */
    /* border-radius: 50%; */
    /* padding: 4px; */
    /* color: rgb(81, 70, 49); */
    animation: click 1s alternate infinite;

}

@keyframes click {
    from {
        /* width: 50px; */
        transform: scale(.8);
    }

    to {
        transform: scale(1);
        /* width: 40px; */
    }
}